# Byte-compiled
__pycache__/

# Vscode
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Out for test
tests/out/

# debugging
debug/

# Sphinx
docs/build/
docs/source/generated/
docs/source/auto_examples/
